header {
    display: flex;
    justify-content: flex-start;
}
.my-logo {
	font-family: sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
    color: #6070FF;
}

.head-line {
background-image: ;
}
